process {
    // defaults
    cpus = 4
    memory = '8 GB'
    maxRetries = 3
    withLabel: 'LIMA_CONTAINER' {
        container = 'quay.io/biocontainers/lima:2.13.0--h9ee0642_0'
    }
    withLabel: 'ISOSEQ_CONTAINER' {
        container = 'quay.io/biocontainers/isoseq:4.3.0--h9ee0642_0'
    }
    withLabel: 'SAMTOOLS_CONTAINER' {
        container = 'quay.io/biocontainers/samtools:1.23--h96c455f_0'
        cpus = 2 
        memory = '8 GB'
    }
    withLabel: 'PIGEON_CONTAINER' {
        container = 'https://depot.galaxyproject.org/singularity/pbpigeon%3A1.4.0--h9948957_0'
    }
    withLabel: 'PBMM2_CONTAINER' {
        container = 'quay.io/biocontainers/pbmm2:1.17.0--h9ee0642_0'
    }
    withName: 'MULTIQC' {
        container = 'quay.io/biocontainers/multiqc:1.33--pyhdfd78af_0'
    }
    withName: 'PBMM2_ALIGN' {
        cpus = 32
        memory = '120 GB'    
    }
    withName: 'ISOSEQ_GROUPDEDUP' {
        cpus = 24
        memory = '64 GB'
        time = '12h'
    }
    withName: 'ISOSEQ_COLLAPSE' {
        cpus = 32
        memory = '120 GB' // Buffer for high-expression loci
    }
    withName: 'ISOSEQ_CORRECT' {
        cpus = 16
        memory = { 32.GB.plus(16.GB * task.attempt)}
    }
    withName: 'SAMTOOLS_SORT' {
        cpus = 8
        memory = '16 GB' // Allows ~2GB per thread to prevent disk spilling
    }
    withName: 'PIGEON_CLASSIFY' {
        cpus = 8
        memory = '16 GB'
    }
    withLabel: 'PYTHON_KNEE_CONTAINER' {
        container = 'kevinr9525/pacbio-kinnex-nf:dev'
    }
    withName: ISOSEQ_REFINE {
        memory = { 8.GB.plus(8.GB * task.attempt)}
        cpus = 4
    }
    withLabel: SKERA_CONTAINER {
        container = 'quay.io/biocontainers/pbskera:1.4.0--hdfd78af_0'
        memory = { 64.GB.plus(16.GB * task.attempt)}
        cpus = 16
    }
    withName: ISOSEQ_BCSTATS {
       memory = { 18.GB.plus(8.GB * task.attempt) } 
       cpus = 4
    }
}

profiles {
  test {
      params{
          // not segmented BAM
          // bams = "https://downloads.pacbcloud.com/public/dataset/MAS-Seq/DATA-Revio-Kinnex-HG002-10x5p/0-CCS/m84039_240124_190648_s3.hifi_reads.bcM0002.bam"
          // subset version of non segmented BAM
          bams = "https://github.com/kevinpryan/pacbio-kinnex-nf/raw/refs/heads/modularise/assets/testdata/non-segmented-bam/m84039_240124_190648_s3_subsampled.bam"
          adapters = "https://downloads.pacbcloud.com/public/dataset/MAS-Seq/REF-MAS_adapters/MAS-Seq_Adapter_v1/mas16_primers.fasta"
          // run skera when using non-segmented input
          run_skera = "true"
          // segemented BAM
          //bams   = "https://downloads.pacbcloud.com/public/dataset/Kinnex-single-cell-RNA/TUTORIAL-DATA-PBMC-single-cell-mini/ccs.bam"            // Path to input BAMs
          //pbi    = "https://downloads.pacbcloud.com/public/dataset/Kinnex-single-cell-RNA/TUTORIAL-DATA-PBMC-single-cell-mini/ccs.bam.pbi"
          primers = "https://downloads.pacbcloud.com/public/dataset/Kinnex-single-cell-RNA/TUTORIAL-DATA-PBMC-single-cell-mini/primers.fasta"
          barcodes = "https://downloads.pacbcloud.com/public/dataset/Kinnex-single-cell-RNA/REF-10x_barcodes/3M-february-2018-REVERSE-COMPLEMENTED.txt.gz"
          outdir = "test-results-skera"
          design = "T-12U-16B"
          // in as requester pays on google cloud - is this an issue for LENS?
          //reference = "https://storage.googleapis.com/genomics-public-data/resources/broad/hg38/v0/Homo_sapiens_assembly38.fasta"
          reference = "https://s3.amazonaws.com/broad-references/hg38/v0/Homo_sapiens_assembly38.fasta"
          gtf = "ftp://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_37/gencode.v37.annotation.gtf.gz"
          cell_calling_method = "knee"
          isoseq_refine_params = ""
          group_dedup_params = ""
          frac_subsample = ""
          subsample_hifi_bam = false
      }
      process {
          withName: PBMM2_ALIGN {
              cpus = 8
              memory = '64 GB'             
          }
      }
  }
  awsbatch {
      process {
           executor = 'awsbatch'
           queue = 'nextflow-queue-ami-10m-timeout'
      }
      params.awsregion = 'eu-west-1'
      aws {
          batch.cliPath = '/home/ec2-user/miniconda/bin/aws' 
          accessKey = secrets.MY_ACCESS_KEY
          secretKey = secrets.MY_SECRET_KEY
      }
      docker {
          enabled = true
      }
      singularity {
          enabled = false
      }     
  }
  singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
  }
  docker {
        singularity.enabled     = false
        conda.enabled           = false
        docker.enabled          = true
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
  }
}

params {
        tracedir = "${params.outdir}/pipeline_info"
        // default params that can be overwritten
        primers = "https://downloads.pacbcloud.com/public/dataset/Kinnex-single-cell-RNA/TUTORIAL-DATA-PBMC-single-cell-mini/primers.fasta"
        //barcodes = "https://downloads.pacbcloud.com/public/dataset/Kinnex-single-cell-RNA/REF-10x_barcodes/3M-february-2018-REVERSE-COMPLEMENTED.txt.gz"
        barcodes = "https://downloads.pacbcloud.com/public/dataset/MAS-Seq/REF-10x_barcodes/3M-3pgex-may-2023.REVCOMP.txt.gz"
        reference = "https://s3.amazonaws.com/broad-references/hg38/v0/Homo_sapiens_assembly38.fasta"
        gtf = "ftp://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_37/gencode.v37.annotation.gtf.gz"
        adapters = "https://downloads.pacbcloud.com/public/dataset/MAS-Seq/REF-MAS_adapters/MAS-Seq_Adapter_v1/mas16_primers.fasta"
        design = "T-12U-16B"
        isoseq_refine_params = ""
        subsample_hifi_bam = false
        group_dedup_params = "" 
}

timeline {
         enabled = true
         file = "${params.tracedir}/execution_timeline.html"
         overwrite = true
    }
report {
         enabled = true
         file = "${params.tracedir}/execution_report.html"
         overwrite = true
    }
trace {
        enabled = true
        file = "${params.tracedir}/execution_trace.txt"
        overwrite = true
    }
dag {
        enabled = false
        file = "${params.tracedir}/pipeline_dag.svg"
        overwrite = true
}

