process {
    // defaults
    cpus = 4
    memory = '8 GB'
    withLabel: 'LIMA_CONTAINER' {
        container = 'quay.io/biocontainers/lima:2.13.0--h9ee0642_0'
    }
    withLabel: 'ISOSEQ_CONTAINER' {
        container = 'quay.io/biocontainers/isoseq:4.3.0--h9ee0642_0'
    }
    withLabel: 'SAMTOOLS_CONTAINER' {
        container = 'quay.io/biocontainers/samtools:1.23--h96c455f_0'
        cpus = 2 
        memory = '8 GB'
    }
    withLabel: 'PIGEON_CONTAINER' {
        container = 'https://depot.galaxyproject.org/singularity/pbpigeon%3A1.4.0--h9948957_0'
    }
    withLabel: 'PBMM2_CONTAINER' {
        container = 'quay.io/biocontainers/pbmm2:1.17.0--h9ee0642_0'
    }
    withName: 'MULTIQC' {
        container = 'quay.io/biocontainers/multiqc:1.33--pyhdfd78af_0'
    }
    withName: 'PBMM2_ALIGN' {
        cpus = 32
        memory = '120 GB'    
    }
    withName: 'ISOSEQ_GROUPDEDUP' {
        cpus = 24
        memory = '64 GB'
        time = '12h'
    }
    withName: 'ISOSEQ_COLLAPSE' {
        cpus = 32
        memory = '120 GB' // Buffer for high-expression loci
    }
    withName: 'SAMTOOLS_SORT' {
        cpus = 8
        memory = '16 GB' // Allows ~2GB per thread to prevent disk spilling
    }
    withName: 'PIGEON_CLASSIFY' {
        cpus = 8
        memory = '16 GB'
    }
}

profiles {
  test {
      params{
          bams   = "https://downloads.pacbcloud.com/public/dataset/Kinnex-single-cell-RNA/TUTORIAL-DATA-PBMC-single-cell-mini/ccs.bam"            // Path to input BAMs
          pbi    = "https://downloads.pacbcloud.com/public/dataset/Kinnex-single-cell-RNA/TUTORIAL-DATA-PBMC-single-cell-mini/ccs.bam.pbi"
          primers = "https://downloads.pacbcloud.com/public/dataset/Kinnex-single-cell-RNA/TUTORIAL-DATA-PBMC-single-cell-mini/primers.fasta"
          barcodes = "https://downloads.pacbcloud.com/public/dataset/Kinnex-single-cell-RNA/REF-10x_barcodes/3M-february-2018-REVERSE-COMPLEMENTED.txt.gz"
          outdir = "test-results"
          design = "T-12U-16B"
          // in as requester pays on google cloud - is this an issue for LENS?
          //reference = "https://storage.googleapis.com/genomics-public-data/resources/broad/hg38/v0/Homo_sapiens_assembly38.fasta"
          reference = "https://s3.amazonaws.com/broad-references/hg38/v0/Homo_sapiens_assembly38.fasta"
          gtf = "ftp://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_37/gencode.v37.annotation.gtf.gz"
      }
      process {
          withName: PBMM2_ALIGN {
              cpus = 8
              memory = '64 GB'             
          }
      }
  }
  awsbatch {
      process {
           executor = 'awsbatch'
           queue = 'nextflow-queue-ami-10m-timeout'
      }
      params.awsregion = 'eu-west-1'
      aws {
          batch.cliPath = '/home/ec2-user/miniconda/bin/aws' 
          accessKey = secrets.MY_ACCESS_KEY
          secretKey = secrets.MY_SECRET_KEY
      }
      docker {
          enabled = true
      }
      singularity {
          enabled = false
      }     
  }
  singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
  }
  docker {
        singularity.enabled     = false
        conda.enabled           = false
        docker.enabled          = true
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
  }
}

params {
        tracedir = "${params.outdir}/pipeline_info"
}

timeline {
         enabled = true
         file = "${params.tracedir}/execution_timeline.html"
         overwrite = true
    }
report {
         enabled = true
         file = "${params.tracedir}/execution_report.html"
         overwrite = true
    }
trace {
        enabled = true
        file = "${params.tracedir}/execution_trace.txt"
        overwrite = true
    }
dag {
        enabled = false
        file = "${params.tracedir}/pipeline_dag.svg"
        overwrite = true
}

